{% macro articles(_articles) %}
{% for article in _articles %}
<li class="chapter {% if article.path == file.path and not article.anchor %}active{% endif %}" data-level="{{ article.level }}" {% if article.path %}data-path="{{ article.path|resolveFile }}"{% endif %}>
    {% if article.path and getPageByPath(article.path) %}
    <a href="{{ article.path|resolveFile }}{{ article.anchor }}">
        {% elif article.url %}
        <a target="_blank" href="{{ article.url }}">
            {% else %}
                <span>
            {% endif %}
                    {% if article.level != "0" and config.pluginsConfig['theme-default'].showLevel %}
                        <b>{{ article.level }}.</b>
                    {% endif %}
                    {% if article.title != "Introduction" %}
                        {{ article.title }}
                    {% else %}
                        Inicio
                    {% endif %}
            {% if article.path  or article.url %}
        </a>
        {% else %}
        </span>
        {% endif %}

        {% if article.articles.length > 0 %}
        <ul class="articles">
            {{ articles(article.articles, file, config) }}
        </ul>
        {% endif %}
</li>
{% endfor %}
{% endmacro %}


<div style="height:60px;">
    <img style="width:180px;height:auto;position:absolute;margin:auto;left:0;right:0" src="{{ "images/universidad-de-los-andes-logo.png"|resolveAsset }}">
</div>

<ul class="summary">
    <li class="divider"></li>
</ul>

<!--
     min-height: 40px; background-image: url({{"images/book-icon-32.png"|resolveAsset}}); background-repeat:no-repeat; background-position: 5 5;
-->
<div style="padding-left: 40px;">
    <b>{{ config.title }}</b>
</div>

<ul class="summary">
    <li class="divider"></li>

    {% for part in summary.parts %}
    {% if part.title %}
    <li class="header">{{ part.title }}</li>
    {% elif not loop.first %}
    <li class="divider"></li>
    {% endif %}
    {{ articles(part.articles, file, config) }}
    {% endfor %}

    {% if config.links.sidebar  %}

    <li class="divider"></li>
    <li class="divider"></li>

    {% for linkTitle, link in config.links.sidebar  %}
    <li>
        <a href="{{ link }}" target="_blank" class="custom-link">{{ linkTitle }}</a>
    </li>
    {% endfor %}

    <li class="divider"></li>
    {% endif %}

</ul>